body {
    background-image: url("../components/lapsed.jpg") ;
}

h1 {
    top: 12%;
    left: 38%;
}

.link:first-child { 
    margin-top: 17.8%;
    left: 30%;
}

.link:nth-child(2) {
    margin-top: 17.8%;
    right: 32.5%;
}

.tekst1 {
    margin-top: 23%;
    left: 12%;
}
.tekst1:hover a{   
    margin-top: 26%;
}
.tekst2 {
    margin-top: 23%;
    left: 41%;
}
.tekst2:hover a{
    margin-top: 26%;
}

.tekst3 {
    margin-top: 23%;
    left: 70.5%;
}
.tekst3:hover a{  
    margin-top: 26%;
}

.tekst4 {
    margin-top: 37%;
    left: 11.5%;
}
.tekst4:hover a{  
    margin-top: 26%;
}

.tekst5 {
    margin-top: 37%;
    left: 44%;
}
.tekst5:hover a{  
    margin-top: 26%;
}

.tekst6 {
    margin-top: 37%;
    left: 73%;
}
.tekst6:hover a{  
    margin-top: 26%;
}

.content h1 {
    margin-left: -32%;
}

.content p {
    font-size: large;
}

.slider .slides{
    height: 550px;
}