body {
    background-image: url("../components/proov.png") ;
}

h1 {
    top: 12%;
    left: 36%;
}

.link:first-child {
    margin-top: 16%;
    left: 65%;
}

.link:nth-child(2) {
    margin-top: 16%;
    left: 45.5%;
}

.link:nth-child(3) {
    position: absolute;
    color: #3100ac;
    text-decoration: none;
    margin-top: 16%;
    left: 27%;
}
.link:nth-child(3):hover {
    background-color: #1c5ca5;
}

p {
    position: absolute;
    color: #3100ac;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    margin-top: 26%;
    left: 15%;
}