body {
    height: 100vh;
    margin: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

h1 {
    position: absolute;
    color: #3100ac ;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
  
}

.kodu {
    position: relative;
    top: 7%;
    left: 49%;
    background-color: #1c5ca56a;
    border-width: 0;
    border-radius: 2px;
    color: #97C7F5;
    font-size: large;
    height: 50px;
    width: 50px;
}
.kodu:hover {
    background-color: #184d8a6a;
    cursor: pointer;
}

.links {
    position: relative;
    height: 20%;
    font-weight: bold;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.link:first-child {
    position: absolute;
    color: #3100ac;
    text-decoration: none;
}
.link:first-child:hover {
    background-color: #1c5ca5;
}
.link:nth-child(2) {
    position: absolute;
    color: #3100ac;
    text-decoration: none;
}
.link:nth-child(2):hover {    
    background-color: #1c5ca5;
}
.žanrid {
    position: relative;
    height: 80%;
    color: #3100ac;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
}
.tekst1 {
    position: absolute;
}
.tekst2 {
    position: absolute;
}
.tekst3 {
    position: absolute;
}
.tekst4 {
    position: absolute;
}
.tekst5 {
    position: absolute;
}
.tekst6 {
    position: absolute;
}