body {
    background-image: url("../components/noored_taiskasvanud.jpg") ;
}

h1 {
    top: 12%;
    left: 33.2%;
}

.link:first-child {
    margin-top: 17.8%;
    left: 33%;
}

.link:nth-child(2) {
    margin-top: 17.8%;
    right: 32.5%;
}

.tekst1 {
    margin-top: 27%;
    left: 12%;
}
.tekst2 {
    margin-top: 27%;
    left: 44%;
}
.tekst3 {
    margin-top: 27%;
    left: 76%;
}
.tekst4 {
    margin-top: 41%;
    left: 12%;
}
.tekst5 {
    margin-top: 41%;
    left: 44%;
}
.tekst6 {
    margin-top: 41%;
    left: 71%;
}