body {
    background-image: url("../components/noored_taiskasvanud.jpg") ;
}

h1 {
    top: 12%;
    left: 33.2%;
}

.link:first-child {
    margin-top: 17.8%;
    left: 33%;
}

.link:nth-child(2) {
    margin-top: 17.8%;
    right: 32.5%;
}

.tekst1 {
    margin-top: 23%;
    left: 11%;
}
.tekst1:hover a{
    margin-top: 22%;
}

.tekst2 {
    margin-top: 23%;
    left: 45%;
}
.tekst2:hover a{   
    margin-top: 22%;
}

.tekst3 {
    margin-top: 23%;
    left: 76%;
}
.tekst3:hover a{   
    margin-top: 22%;
}

.tekst4 {
    margin-top: 37%;
    left: 14%;
}
.tekst4:hover a{   
    margin-top: 26%;
}

.tekst5 {
    margin-top: 37%;
    left: 44%;
}
.tekst5:hover a{ 
    margin-top: 26%;
}

.tekst6 {
    margin-top: 37%;
    left: 76%;
}
.tekst6:hover a{   
    margin-top: 26%;
}

.content h1 {
    left: 0%
}
.content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.slider .slides{
    height: auto;
}